/* import google fonts */

/* Open Sans Condensed: used for headers */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Merriweather: used for paragraph fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather:300);

/* Ubuntu Mono: used for monospaced fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400);

/* colors */
$bg        : #fff;
$accent    : #036;
$light     : #f60;
$lighter   : #aaa;
$verylight : #f6f6f6;
$dark      : #000;

body {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Merriweather', 'Palatino', 'Palatino Linotype', 'Georgia', serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: $bg;
}

a {
  color: $accent;
}

a:hover {
  color: $light;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: $accent;

  a {
    text-decoration: none;
  }
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: $accent;
  text-decoration: underline;
}

h1.title {
  margin-top: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.3em;
}

strong {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  color: $lighter;
}

div.container {
  margin: 20px auto;
  padding: 0 10%;
  max-width: 800px;
}

div.header {
  float: right;
  display: block;
  font-weight: bold;

  a {
    text-decoration: none;
  }

  span.name {
    padding: 20px 0 10px 0;
    font-size: 2.2em;

    em {
      color: #bbb;
      font-style: normal;
    }
  }

  span.sub {
    color: $dark;
  }
}


div.navigation {
  margin-top: 20px;
  float: left;
  font-weight: bold;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin: 0 2px;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
  }
}

div.body {
  clear: both;
  padding-top: 1px;
}

div.footer {
  border-top: 1px solid $lighter;
  padding-top: 9px;
  margin-top: 42px;
  font-size: 0.8em;
  line-height: 20px;
  color: $lighter;
  text-align: center;

  p {
    margin: 0;
  }

  p.small {
    margin-top: 3px;
    font-size: 0.75em;

    a {
      color: $lighter;
    }
  }
}


p, ul, ol, pre, table {
  margin: 15px 0 20px 0;
}

dt {
  margin: 25px 0 16px 0;
  padding: 0;
}

dd {
  margin: 16px 0 25px 40px;
  padding: 0;
}

p.caption {
  margin: 0;
  font-size: 0.7em;
}

p.subtitle {
  color: $light;
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;

  span.date {
    font-weight: bold;
  }
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;

  &.sourceCode {
    font-size: 0.95em;
    line-height: 19px;
  }
}

pre {
  padding: 10px;
  background: $verylight;
}

table {
  border: 1px solid $verylight;
  border-collapse: collapse;
}

td, th {
  padding: 2px 12px;
  border: 1px solid $verylight;
}

/* footnotes */

div.footnotes {
  vertical-align: top;
  font-size: 0.8em;

  p {
    margin: 0;
  }

  hr {
    color: $lighter;
    background-color: $lighter;
    margin-left: 0px;
    text-align: left;
    width: 40%;
  }

  a.footnoteBackLink {
    text-decoration: none;
    margin-left: 5px;
  }

  ol {
    font-size: 0.9em;
  }
}

sup {
  font-size: 0.75em;

  a {
    text-decoration: none;
    background: #eee;
  }
}

/* post item styles */

div.postitem {
  margin: 25px 0;

  div.summary {
    line-height: 25px;
  }

  h1 {
    font-size: 1.9em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }

  div.date,
  div.summary,
  div.summary p {
    margin: 0;
    padding: 0;
  }

  div.date {
    font-size: 0.9em;
    color: $light;
    text-transform: uppercase;

    abbr {
      text-transform: none;
    }
  }
}

div.figure {
  text-align: center;
  font-size: 1.2em;
  margin: 20px 30px;

  img {
    margin: 15px auto 10px auto;
    display: block;
    background: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
  }
}


div.pagination {
  margin: 36px 0 0 0;
  text-align: center;

  strong {
    font-weight: normal;
    font-style: italic;
  }
}

p.tags {
  text-align: right;
  font-style: italic;
  font-size: 0.9em;
}

p.tagcloud {
  a {
    text-decoration: none;
    padding: 0.2em;
    margin: 0.5em 0.2em;
  }
}

span.math img {
  margin-bottom: -7px;
}

/* source code styles */

td.lineNumbers {
  border-right: 1px solid #AAAAAA;
  color: #AAAAAA;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}

td.sourceCode {
  padding-left: 5px;
}

pre.sourceCode {

  span.kw {
    color: #cd171a;
  }

  span.dt {
    color: #ea4d20;
  }

  span.dv {
    color: #079e53;
  }

  span.bn {
    color: #079e53;
  }

  span.fl {
    color: #079e53;
  }

  span.ch {
    color: #185898;
  }

  span.st {
    color: #185898;
  }

  span.co {
    color: #3592a9;
    font-style: italic;
  }

  span.ot {
    color: #007020;
  }

  span.al {
    color: red;
    font-weight: bold;
  }

  span.fu {
    color: #06287E;
  }

  span.re {
  }

  span.er {
    color: red;
    font-weight: bold;
  }
}

/* vim: set sw=2 et sts=2: */
