/* general style */
body {
    font-size: 18px;
    font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: #eae6d9;
}

a {
    color: #0b2f0a;
}

a:hover {
    color: #0b2f0a;
    background: #ddc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

ul.blog-archive a {
    text-decoration: none;
}

ul.blog-archive span.date {
    color: #aba098;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: #0b2f0a;
    text-decoration: underline;
}

h1.title {
    margin-top: 20px;
}

h1 {
    font-size: 2.3em;
    margin: 10px 0 25px 0;
}

h2 {
    font-size: 1.8em;
    margin: 5px 0 15px 0;
}

blockquote {
    font-style: italic;
    color: #222;
}

div.container {
    margin: 20px auto;
    padding: 0 10%;
    max-width: 800px;
}

div.header {
    float: right;
}

div.header a:hover {
    background: inherit;
}

div.navigation {
    margin-top: 20px;
    float: left;
}

div.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.navigation ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}

div.navigation a {
    text-decoration: none;
}

div.body {
    clear: both;
    padding-top: 1px;
}

div.footer {
    border-top: 1px solid #bbb0a8;
    padding-top: 9px;
    margin-top: 42px;
    font-size: 16px;
    color: #aba098;
    text-align: center;
}

div.footer p {
    margin: 0;
}

div.footer p.small {
    margin-top: 3px;
    font-size: 0.75em;
}

div.footer p.small a {
    color: #aba098;
}

p, div.line-block, ul, ol, pre, table {
    margin: 15px 0 20px 0;
}

dt {
    margin: 25px 0 16px 0;
    padding: 0;
}

dd {
    margin: 16px 0 25px 40px;
    padding: 0;
}

ul ol, ol ul, ul ul, ol ol {
    margin: 10px 0;
    padding: 0 0 0 40px;
}

li {
    padding: 0;
}

div.body ul li {
    padding-left: 1.1em;
    background: url('../images/icon.png') no-repeat scroll 0 8px transparent;
    list-style-type: none;
}

p.caption {
    margin: 0;
    font-size: 0.7em;
}

h1 + p.date {
    margin-top: -28px;
    font-style: italic;
}

pre, code, tt {
    font-family: 'Consolas', 'Inconsolata', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New', monospace;
    font-size: 0.85em;
    background: #eee;
}

pre {
    border: 1px solid #ddd;
    padding: 10px;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background: #fafafa;
}

td, th {
    padding: 2px 12px;
    border: 1px solid #ddd;
}

a.footnote-reference {
    vertical-align: top;
    font-size: 0.75em;
}

table.footnote {
    margin: 15px 0;
    background: transparent;
    border: none;
}

table.footnote td {
    border: none;
    padding: 9px 0 0 0;
    font-size: 0.8em;
}

table.footnote td.label {
    padding-right: 10px;
}

table.footnote td p {
    margin: 0;
}

table.footnote td p + p {
    margin-top: 15px;
}

div.entry-overview {
    margin: 25px 0;
}

div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p {
    line-height: 25px;
}

div.entry-overview h1 {
    margin: 0;
    font-size: 1.2em;
}

div.entry-overview div.date,
div.entry-overview div.summary,
div.entry-overview div.summary p {
    margin: 0;
    padding: 0;
}

div.entry-overview div.detail {
    margin-bottom: 20px;
}

div.entry-overview div.date {
    font-size: 0.9em;
    color: #aba098;
    font-weight: bold;
    text-transform: uppercase;
}

div.entry-overview div.date abbr {
    font-weight: normal;
    text-transform: none;
    margin-left: 10px;
}

img.align-center {
    margin: 15px auto;
    display: block;
    background: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
}

div.centerblock {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 30px;
}

div.pagination {
    margin: 36px 0 0 0;
    text-align: center;
}

div.pagination strong {
    font-weight: normal;
    font-style: italic;
}

p.tags {
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
}

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
    background: none;
}

span.math img {
    margin-bottom: -7px;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    color: #AAAAAA;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

td.sourceCode {
    padding-left: 5px;
}

pre.sourceCode span.kw {
    color: #AE4A54;
}

pre.sourceCode span.dt {
    color: #902000;
}

pre.sourceCode span.dv {
    color: #40A070;
}

pre.sourceCode span.bn {
    color: #40A070;
}

pre.sourceCode span.fl {
    color: #40A070;
}

pre.sourceCode span.ch {
    color: #4070A0;
}

pre.sourceCode span.st {
    color: #4070A0;
}

pre.sourceCode span.co {
    color: #60A0B0;
    font-style: italic;
}

pre.sourceCode span.ot {
    color: #007020;
}

pre.sourceCode span.al {
    color: red;
    font-weight: bold;
}

pre.sourceCode span.fu {
    color: #06287E;
}

pre.sourceCode span.re {
}

pre.sourceCode span.er {
    color: red;
    font-weight: bold;
}
