<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>kongo blog - $title$</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><img src="/images/logo.png" alt="uhlenheuer.net - Gregor Uhlenheuer"/></a>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="/">blog</a></li>
          <li><a href="/archive/">archive</a></li>
          <li><a href="/projects/">projects</a></li>
          <li><a href="/tags/">tags</a></li>
          <li><a href="/about/">about</a></li>
        </ul>
      </div>
      <div class="body">
        <h1>$title$</h1>
        $body$
      </div>
    </div>
  </body>
</html>
<!-- vim: set et sw=2: -->
